# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects
*.so
*.so.*

# Executables
*.efi

# EFI Security Database files
*.esl

# editor backup/tmp files
*~
*.sw?

# generated revocation payload
data/sbat_level_automatic.csv
data/sbat_level_latest.csv
